.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.introduceDesc span {
    font-weight: 600;
}

body {
  padding: 0;
  font-family: 'Nanum Myeongjo' !important;
}

.introduceDescLeft , .introduceDescRight{
    font-size: 14px;
}

.secondBodyWrapper {
    background: url('../images/assets/1920_bg2.png') no-repeat;
    background-position: center top;
    background-size: 1920px 3428px;
    background-color: #fafcfe;
}

.footerContainer{
  height: 122px;  
}

#contact-footer .container {
  padding: 40px;
}

.introduceContent {
    max-width: 735px;
    height: 558px;
}

#education{
    padding-top: 38px;
}

.mainBannerText {
    height: 210px;
    font-family: 'Nanum Myeongjo';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #ffffff;
    position: absolute;
    z-index: 999;
    top: 40%;
    float: right;
    right: 6vw;
    font-size: 45px;
}

#introduce {
    background-position: center;
    background: url('../images/assets/1920_bg1.png') no-repeat;
    background-size: 1920px 1146px;
    height: 1146px;
    display: block;
    background-color: #5682d3 !important;
    padding: 0 10px 10vw;
}

.mainPattern {
  position: absolute;
  bottom: 34px;
  right: 41px;
  z-index: 99;
}

.mainBannerText > span {
  font-family: 'Nanum Myeongjo';
  font-weight: 600;
}

.applyButton {
  position: relative;
  top: -120px;
  left: 530px;
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background-color: #44c0b4;
  text-align: center;
  line-height: 6;
  color: white;
  cursor: pointer;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  /*margin-bottom: 10px;*/
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

.hostHistory {
    font-size: 14px;
}

#faq {
    margin-top: 151px;
    padding-top:100px;
}
/* Responsive: Portrait tablets and up */

.activityContent {
  width: 200px;
  height: 200px;
  background-color: white;
}

.recruitContentDesc {
  background: url('../images/activityContentBG.png') no-repeat;
  max-width: 745px;
  height: 800px;
  margin: 0 auto;
  background-position: center top;
  color: black;
  padding: 57px 0 0 0px;  
}

.recruitContent {
  margin-bottom: 45px !important;
}

.glyphicon {
   font-family:'Nanum Myeongjo' !important;
    /*more css comes along here*/
}

@media only screen and (max-width: 600px) {

  .recruitContent {
    margin-bottom: 20px !important;   
  }
}


.activity_1 {
  width: 100%;
  height: 300px;
  background : url('../images/connectActivity.png');
  padding-top: 89px;
  margin-bottom: 50px;
}

.faq { 
  width: 100%;
}


.faqMenus {
margin-left: 20px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  color: #3b3b3b;
  font-size: 16px;
  font-family: 'Nanum Myeongjo';
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}
.faqAnswer {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  font-weight: bold;
}

.faqAnswerData {
    display: inline-block;
    color: #3c3c3c;
    padding: 17px 47px 16px;
    float: right;
}

.naverTvLink{
    margin-right: 74px; 
}

.naverTvLink , .naverPostLink {
    color: #3c3c3c;
    cursor: pointer;
}

.naverTvLink:hover {
    color: #5485d3;
}

.naverPostLink:hover {
    color: #5485d3;
}

.faqLogo {
  color: #31bbb1;
  margin-right: 10px;
  font-weight: bold;
}

.faqSubImage {
  display: block;
  margin: 0 auto;
}

.contetnActivityDesc{
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
.faqMenus.current {
  color: #5485d3;

}
.recruit {
  width: 100%;
  height: 300px;
  background : url('../images/recruit.png');
  padding-top: 89px;
  margin-bottom: 50px;
  background-color: white;
}

.faqContentContent {
  background-color: #f4f4f4;
  color: #3b3b3b;
  padding: 23px 35px 23px;
  text-align: left;
}
.faqContents{
  border-bottom: 1px solid #c2c2c2;
  max-width: 970px;
  margin: 0px auto;
}

.faqWrapper {
  margin: 0 auto 377px;
  text-align: left;
  max-width: 970px;

}
#recruit{ 
  background : url('../images/recruit_bg.png') no-repeat;
  background-size: 100%;
  background-color: white;
  background-position: center right;
}

.faqContentTitle {
    color: #3c3c3c;
  padding: 17px 35px 16px;
  background-color: transparent;
  display: inline-block;
  vertical-align: top; 
}

.footerWrapper{
  text-align: center;  
}

.tmlabel > p{
  font-size: 16px;
  font-family: Nanum MyeongjoOTFR;
  color: #3b3b3b;
  font-style: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: normal;
}
.footerLogo {
  display: inline-block;
  vertical-align: top;
}
.footerLogo_2 {
  margin-left: 20px;
  margin-top: -4px;
}

.footerLogo {
  margin-bottom: 10px;  
  /*margin-right: 20px;*/
}

.footerCenterDesc {
  font-size: 14px;
  font-family: 'Nanum Myeongjo';
  font-weight: 200;
  color: #2d2d2d;
  text-align: left;
  margin-left: 90px;
  /*margin-left: 70px;*/
}

.dropdown-menu{
  box-shadow: none !important;
}
.footerCenterDesc span {
  margin-left: 112px; 
  display: block;
}

.footerCenterDesc span {
    font-family: 'Nanum Myeongjo';
    font-weight: 400;
    color: #3b3b3b;
}

.relatedSizeMenu {
  width: 270px;
  height: 40px;
  border: 1px solid #c2c2c2;
  background-color: white;
  padding:9px 9px 9px 20px;
  text-align: left;
  cursor: pointer;
  /*margin: auto;*/
}

.positionCenterClass {
  text-align: center;
}
.relatedSizeIcon {
  float: right;
}

.relatedSizeMenu {
  display: block;
  width: 270px;
  height: 40px;
  background-color: white !important;
  border-radius : 0px !important;
}

.dropup > .dropdown-menu {
  /*width: 270px;*/
  border:1px solid #c2c2c2;
  border-radius: 0px !important;
  padding: 0px !important;

}
.dropdown-menu li a {
  line-height: 36px;
}

.dropdown-menu li a:hover {
  font-weight: bold !important;
  background-color: transparent !important;
}

.dropup{
  padding-left: 0px !important;
}

.footerWrapperWrapper {
    float: right;
}

.footerWrapperWrapper .dropdown-menu>li>a {
  text-align: left;
}

.dropup .dropdown-menu {
  width: 270px;
  margin-bottom: -1px !important;
}

.dropup > .dropdown-menu li {
  height: 36px;
  line-height: 36px;
}

.footerlogos {
  float: left;
  text-align: left;
}


@media only screen and (max-device-width: 1024px) and (orientation : landscape) {

    .header.animated-header {
        padding-top: 15px !important;
        margin-top: 0;
        opacity: 1 !important;
    }

}

@media only screen and (max-width: 1024px) {

    .skillbar {
        border-radius: 4px;
    }

    .about .social-account {
        margin-bottom: 0;
    }

    .about .social-account li {
        margin-right: 0.55em;
    }

    .about .social-account li a {
        font-size: 1.4em;
        height: 1.4em;
        width: 1.4em;
    }

    .faqAnswer .faqAnswerData {
        font-size: 2vw !important;
    }
    
    .introduceContentWrapper {
        max-width: 790px !important;
    }

    .connectActivityContentTitle {
        font-size: 1.8vw !important;
    }
    .contetnActivityDesc {
        font-size: 15px !important;
    }

    .animated-header .container{
        padding-top: 7px !important;
    }

}

.faqWrapper hr {
    margin: 10px 0 3px;
    border: 1px solid #d8d8d8;
}


.navbar-nav {
    text-align: right;
    font-family: 'Nanum Myeongjo';
    font-weight: 400;
}


@media only screen and (max-width: 1000px) {

    body {
        font-size: 1.4em;
    }

    #main-nav .nav.navbar-nav {
        padding-left: 7px;
    }

    .introduceMoto {
        /*font-size: 1.3vw;*/
    }

    #faq{
        padding-top: 100px !important;
    }


}

@media screen and (max-width: 991px) {
    .introduceTeacherSecond {
        margin-top: 79px !important;
        margin-bottom: 64px !important;
    }
}

@media screen and (max-width: 830px) {

    .og-expander p {
        font-size: 13px;
    }

    .og-expander a {
        font-size: 12px;
    }

}

@media only screen and (max-device-width: 768px)  {

    .animated-header .navbar {
        margin-top: 12px;
    }
    .animated-header .logoImage{
        margin-top: 8px;
    }

    #faq {
        padding-top: 80px !important;
    }

    .faqWrapper{
        padding: 0px 10px;
        margin: 0px auto 340px !important;
    }
    .showLastLecture {
        margin-bottom: 10px !important; 
    }

    .professorInfoDesc {
        margin-left: 20px !important;
    }

    .hostHistory{
        width: 275px !important;   
    }

    .hostTitle {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .hostTitle span {
        font-size: 14px;
    }

    .professorInfoDesc {
        width: 320px;
    }
    .faqContentTitle {
        padding: 17px 0px 17px 20px !important;  
    }

    #etc {
        margin-top: -100px;
    }

    .introduceTeacher .col-md-6{
        width: 480px;
        margin: 0px auto 40px !important;
        text-align: left;
        display: block;
    }

    .divideLine{
        width: 90%;
    }
    .mainPattern{
        display: none !important;   
    }

    section .container {
        padding: 15px ;
        width: 100% !important;
    }


    padding-right: 10px !important;

    .introduceTitle {
        width: 100%;
        text-align: center;
        padding-top: 52px !important;
        margin-top: -5px;
    }

    .introduceContent {
        width: 100% !important;   
    }

    .historyLink{
        margin-top: 60px;
    }

    .secondBodyWrapper {
        background: url('../images/assets/768_bg2.png') no-repeat !important;
        background-size: 768px 3272px !important;

    }

    #introduce {
        background: url('../images/assets/768_bg1.png') no-repeat !important;
        background-size: 768px 1059px !important;
        background-color: #5682d3 !important;
        font-family: 'Nanum Myeongjo';
    }

    .subTitleImage {
        margin: 20px auto 0 !important;
    }

    .divideLine {
        margin: 0 auto 68px;
    }

    .introduceLinkButtonFirst {
        margin-top: 25px !important;
    }

    #faq {
        margin-top: 0px !important;
        pdding-top: 70px !important;
    }

    .faq {
        padding-top: 0px !important;
    }

    .introduceTeacherSecond{
        margin-top: 76px !important;
    }

    .introduceWrapper {
        padding-bottom: 66px !important;
    }

    .introduceContent{
        background: url('../images/assets/intro_bg_768.png') no-repeat !important;
        background-size: 100%;
        height: 553px;  
    }

    .introduceDesc {
        margin: 10px auto 0px !important;
        width: 90%;
        margin: auto;
    }

    .mainBannerText { 
        width: 640px;;
    }

    .mainPattern {
        display: none !important;
    }

    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
    /*margin-bottom: 30px;*/
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

    .img-responsive1 {
        background: url('../images/assets/main768_1.png') no-repeat;
    }

    .img-responsive2 {
        background: url('../images/assets/main768_2.png') no-repeat;
    }

    .img-responsive3 {
        background: url('../images/assets/main768_3.png') no-repeat;
    }


    .header.animated-header {
        padding-top: 0px !important;
        margin-top: 0;
        opacity: 1 !important;
    }

    .introduceMoto {
        font-size: 17px !important;
    }

    .introduceTitle {
        padding-top: 58px !important;
        height: 200px !important;
    }
    
    .introduceContent{
        margin-bottom: 129px !important;
    }

    .introduceDesc {
        margin-top: 34px !important;
    }

    .contetnActivityDesc {
        font-size: 14px !important;
    }

    .connectActivityContentTitle div {
        font-size: 18px !important;
    }

    .parallax {
        background-attachment: scroll;
        height: 450px;
    }


    .main-img {
        margin-top: 0px;
    }


    #main-nav {
        float: right !important;
        margin-right: 0px;
    }

    .activity_1 {
        height: 200px !important;
        padding-top: 50px !important;
    }
    
    .mainBannerText {
        top: 45% !important;
    }   

    .connectSchoolPartnerImage {
        max-width: 95% !important;
    }

    section .container {
        padding: 20px 0 30px !important;
    }

}

@media only screen and (max-width: 767px) {

    #main-nav li a {
        margin: 0px !important;
        padding-right: 0px !important;
    }

    .container .navbar-header {
        margin-right: 0px !important;
    }

    .header.animated-header {
        padding-top: 0px !important;
        padding-right: 15px !important;
    }    

    .container .navbar-collapse {
        margin: 0px !important;
    }

    .header.animated-header .container{
        padding-right: 0px !important;
    }    

    .navbar-nav {
        margin: 0px !important;
    }
    .logoImage {
        background-position: center left !important;
        background-size: 73px 33px !important;
        margin-bottom: 0px !important;
    }

    .navbar-header {
        margin-top: 6px !important;
    }
    .navbar {
        min-height: 15px;
    }

    #main-nav {
        padding-left: 0;
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        min-width: 120px;
    }

    .navbar li {
        width: 100% !important;        
    }
}

@media screen and (max-width: 722px) {
    .introduceContentDesc{
        display: block;   
    }
}


@media only screen and (max-width: 640px) {

    /*.header {
        height: 140px;
    }*/
    #main-nav .navbar-collapse  {
        margin: 10px 10px 0 0 !important;
    }

    .navbar-header {
        margin-top: 4px !important;
    }

    .animated-header .container {
        margin-top: 0px !important;
        padding-top: 0px !important;
    }

    .connectSchoolSchedule {
        margin-top : 0px !important;
    }

    .mainBannerText {
        width: 83vw !important;
        font-size: 8vw;
        top: 43% !important;
    }

    .introduceDivideImage {
        margin: 10px auto 15px;
    }
    .applyButton {
        left: 65% !important;
      }

    .connectActivityContentTitle {
        font-size: 2.5vw !important;
    }

    .navbar {
        min-height: 50px;
    }

    .logo {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    #main-nav .navbar .container {
        padding-right: 0;
    }

    .container > .navbar-header {
        margin-left: 0;
        margin-right: 0;
    }

    svg.decor {
        display: none;
    }

    #main-img {
        margin-top: 0;
    }

    .tmtimeline > li .tmlabel p {
        font-size: 1.4em;
    }

    #contact-footer {
        font-size: 0.9em;
    }

    .about .social-account li {
        margin-right: 0.65em;
    }

    .about .social-account li a {
        font-size: 1.8em;
        height: 1.7em;
        width: 1.7em;
    }
    
    .contentActivityDesc.typeBold {
        font-size: 2.7vw;
    }

    .parallax {
        height: 250px;
    }

    .parallax-text {
        font-size: 1.3;
        padding: 0.4em 0.6em;
        position: inherit;
        bottom: auto;
        right: auto;
        margin: 0;
        margin-top: 200px;
    }
}

@media screen and (max-width: 650px) {

    .og-fullimg { display: none; }
    .og-details { float: none; width: 100%; }
    
}


@media screen and (max-width: 640px) {
    #main-nav .nav.navbar-nav {
        padding-right: 15px !important;
    }

    .secondBodyWrapper {
        background: url('../images/assets/640_bg2.png') no-repeat !important;
        background-size: 640px 3272px !important;
    }

    .introduceDesc {
        margin-top: 10px !important;
    }

    #main-nav .nav.navbar-nav{
        padding-right: 0px !important;
    }


    #main-nav li a {
        margin-right:0px;
        margin-bottom: 4px;
    }

    .animated-header .container .logoImage {
        margin-top: 5px;
    }

    .introduceContent {
        background: url('../images/assets/intro_bg_640.png') no-repeat !important;
        background-size: 608px 629px !important;
        max-width: 608px !important;
        height: 629px !important
    }
    .introduceSubtitle {
        margin-top: 20px !important;
        margin-bottom: 18px !important;
    }
    
    .professorInfoDesc {
        margin-left: 8px !important;
    }

    .divideLine {
        margin: 0 auto 32px !important;
    }
    .mainBannerText {
        margin-left: 60px !important;
        left: 6px !important;
    }

    #introduce {
        background: url('../images/assets/640_bg1.png') no-repeat !important;
        background-size: 640px 1144px !important;
        background-color: #5682d3 !important;
    }

    .introduceContentWrapperSecond {
        margin-top: 230px !important;
    }

    .faqSubImage {
        margin-bottom: 20px !important;
    }

    .img-responsive1 {
        background: url('../images/assets/main640_1.png') no-repeat;
    }

    .img-responsive2 {
        background: url('../images/assets/main640_2.png') no-repeat;
    }

    .img-responsive3 {
        background: url('../images/assets/main640_3.png') no-repeat;
    }

    .activityContainer {
        width: 100% !important;
        padding: 0 29px !important;
    }

    .footerlogos {
        display: block !important;
        width: 100% !important;
        float: none !important;
        text-align: center !important;
    }

    .footerWrapperWrapper {
        margin: 0 auto;
        display: inline-block;
    }

    .footerWrapperWrapper {
        float: none !important;
    }

    #faq {
        padding-top: 0px !important;
        margin-top: 155px !important;
    }

    .showLastLecture {
        margin: 0px !important;
    }
    .introduceContentDesc {
        display: block;
        width: 100%;
    }

    
}

@media screen and (max-width: 639px) {
    .faqContents {
        height: 106px !important;
    }

    .faqAnswerData {
        width: 100% !important;
        padding-left: 35px !important;
    }
    .activityContainer {
        width: 70% !important;
        padding: 15px !important;
    }

    .professorInfoDesc {
        margin-left: 0px !important;
        margin-top: 20px !important;
    }

}

@media only screen and (max-width: 600px) {
    .faqMenus {
        display: block !important;
        height: 22px !important;
        text-align: left !important;
        margin-left: 0px !important;
        border-right: none !important;
    }

    .contetnActivityDesc {
        display: block;
    }


    .connectActivityContent span div {
        margin-left : 0px !important;
        display: block;
    }

    .recruitContent {
        margin-bottom: 20px !important;
    }

    .recruitContentDesc {
        padding-left: 40px !important;
    }
}

.faq.container {
    min-height: 1000px;
    overflow: scroll;
}
.partnerDividerImg {
    display: block;
    margin: 0 auto 9px;
}



@media screen and (max-width: 500px) {
    .introduceContentDesc {
        float: left !important;
    }
}

@media screen and (max-width: 489px) {

    .introProfessorImg {
        width: 270px !important;
        height: 280px !important;
    }
    .introduceTeacher .col-md-6 {
        width: 270px !important;
    }

    .introduceTeacherWrapper {
        width: 280px;
        text-align: left;
        margin: auto;
    }

    .introduceTeacherHistory {
        margin-left: 0px !important;
    }

    .introduceTeacherPoint {
        width: inherit !important;
    }
}

@media only screen and (max-width: 400px) {
    .og-grid li{
        height: 560px !important;
    }

    .logoImage {
        width: 100px !important;
    }

    .contentActivityDesc.typeBold {
        font-size: 15px !important;
    }

    .connectActivityContentTitle.typeContent {
        font-size: 14px !important;
    }

    .connectSchoolSchedule {
        height: 500px !important;
    }

    .introduceTeacherWrapper {
        padding-left: 7px !important;
    }

    .introduceTitle > .introduceDivideImage {
        margin: 0 auto !important;
    }

    .introduceTitle {
        padding-top: 30px !important;
    }
    .introduceDesc {
        display: block;
        width: none !important; 
        margin: 0 auto;
    }

    .introduceTeacher .row{
        width: 300px !important;
        margin: 0 auto !important;
    }

   .mainBannerText {
        top: 41% !important;
    }

    .introduceContent {
        padding: 0 30px !important;
    }

    #introduce {
        padding: 0px 0px 10vw !important;
    }

    .hostHistory{
        width: 210px !important;   
    }

    .professorInfoDesc {
        width: 80% !important;
        padding-left: 0px !important;
    }

    .introduceLink {
        margin-top: 36px;
    }

    .recruitContentDesc {
        /*width: 200px;*/
        font-family: 'Nanum Myeongjo';
        font-weight: 400;
        font-size: 14px;
        padding-left: 10px !important;
    }

    .introduceTitle {
        width: 100% !important;
    }
}
@media screen and (max-device-width: 320px) {

    .introduceTitle {
        width: 100% !important;   
    }

    .mainBannerText {
        left: 20px !important;
    }


}
@media screen and (max-device-width: 320px) {

    .footerLogo_1 {
        width: 100px;
        margin-left: 40px;
    }

    .footerLogo_2 {
        padding-right: 30px;
        margin-left: 10px !important;
        margin-right: 20px;
    }
    .img-responsive1 {
        background: url('../images/assets/main320_1.png') no-repeat;
    }

    .img-responsive2 {
        background: url('../images/assets/main320_2.png') no-repeat;
    }

    .img-responsive3 {
        background: url('../images/assets/main320_3.png') no-repeat;
    }

    .footerWrapperWrapper {
        width: 265px;
    }

    .introProfessorImg {
        width: 300px !important;
        height: 320px !important;
    }

    .navbar-toggle {
        margin-right: 10px;
    }

    #main-nav .nav.navbar-nav {
        padding-right: 11px !important;
    }

    #introduce {
        background: url(../images/assets/320_bg1.png) no-repeat !important;
        background-size: 100% !important;
        background-color: #5682d3 !important;
        background-position: center;
        height: 1105px !important;

    }

    .introduceContent {
        padding: 0px 0px 0px 10px;
    }

    .introduceTeacherSecond {
        margint-top: 50px !important;
    }

    .introduceTeacherName {
        font-size: 24px !important; 
    }

    .introduceTeacherHistory {
        font-size: 14px !important;
        width: 100%;
        margin-top: 10px;
    }

    .introduceLink {
        margin-top: -40px auto 20px !important;
    }

    .introduceLinkButton {
        margin: 6px auto 0px !important;
    }

    .probabilityTitleDesc {
        margin: 11px auto 13px !important;
    }

    .section .container {
        padding: 0px !important;

    }

    .hostTitle{
        font-size: 16px !important;
    }

    .hostTitle span {
        font-size: 14px !important;
    }

    #faq {
        margin-top: 80px !important;
    }

    .showLastLecture {
        font-size: 24px !important;
    }

    .hostHistory {
        margin-top: 5px !important;
        font-size: 14px !important;
    }

    .faqContentTitle {
        padding: 17px 0px 12px 2px !important;
    }

    .faqAnswerData {
        padding-left: 3px !important;
    }
    .activityContainer {
        width: 90% !important;
    }

    .faqContents {
        height: 88px !important;
    }

    .faqWrapper {
        margin: 0 auto 250px !important;
    }

    .faqSubImage {
        width: 31px !important;
        height: 32px !important;
    }

    .faqAnswerData {
        padding-top: 0px !important;
    }

    .footerContainer {
        height: 150px !important;
    }

    .footerLogo_1 {
        padding-left: 0px !important;
        margin-left: 10px !important;
    }
    .footerLogos {
        display: block !important;
        float: none !important;
    }
    .footerLogo {
        display: inline-block !important;
        margin-top: 0px !important;
    }
    .naverTvLink {
        margin-right: 45px !important;
    }

    .etcSubTitle {
        font-size: 24px !important;
    }

    .etcSubSubContents {
        font-size: 14px !important;
    }
    .etcSubSubTitle span {
        font-size: 14px !important;
    }

    .subTitleImage {
        width: 34px !important;
        height: 30px !important;
    }

    .introduceLinkButton {
        width: 280px !important;
        height: 80px !important;
        line-height: 4;
    }

    .introduceTeacher .col-md-6 {
        padding-left: 0px !important;
        margin-top: 50px !important;
    }

    .introduceContent {
        background: url(../images/assets/320_box.png) no-repeat !important;
        background-size: 100%;
        height: 629px;
    }

    .secondBodyWrapper {
        background: url(../images/assets/320_bg2.png) no-repeat !important;
        background-size: 320px 3083px !important;
    }   

    .introduceContentTitle span {
        font-size: 14px !important;
    }

    .introduceContentWrapper {
        margin: 52px auto 0px;
    }

    .introduceContentDesc {
        font-size: 14px !important;
    }

    .introduceContentHeader{
        font-size: 14px !important;
        width: 150px;
        margin-left: 110px;
    }

    
    .activityContainer .row {
        text-align: center;
    }

    .probabilityTitle{
        font-size: 20px !important;
    }
    .probabilityTitleDesc {
        font-size: 14px !important;
    }

    .introduceTitle {
        padding-top: 48px !important;
        height: 160px !important
    }

    .introduceDesc {
        width: 280px !important;
        margin-top: 0px !important;
        line-height: 1.8 !important;
    }
    .activityContainer {
        padding: 0px !important;
    }

    .professorInfoDesc {
        text-align: left;
    }

    .mainBannerText {
        width: 280px !important;
        font-size: 26px !important;
        margin-left: 0px !important;
        font-family: 'Nanum Myeongjo';
        font-weight: 0px !important;
    }   

    .header.animated-header {
        padding-right: 0px !important;
    }

    .animated-header .navbar-toggle {
        margin-right: 23px;
    }

    .introduceDivideImage {
        width: 29px !important;
        height: 30px !important;
    }

    .introduceSubtitle {
        font-size: 24px !important;
    }
    .introduceDesc {
        font-size: 14px !important;
    }
}