      <section>
         <div id="carousel-example-generic" class="carousel slide img-responsive" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <img src="images/assets/main_pattern.png" class="mainPattern" />
            <div class="mainBannerText">
              세상 속의 수학을 함께 탐구해봅니다. </br> 
              교육과 삶을 연결합니다.
            </div>
            <div class="item active">
              <div class="img-responsive img-responsive1">
              </div>
            </div>
            <div class="item">
              <div class="img-responsive img-responsive2" >
              </div>
            </div>
            <div class="item">
              <div class="img-responsive img-responsive3" >
              </div>
            </div>
            <div class="item">
              <div class="img-responsive img-responsive4" >
              </div>
            </div>
          </div>
        </div>
    </section>

    <section id="introduce" class="section-page">
      <div class="introduceTitle">
        <img src= "images/assets/sub_1.png" class="introduceDivideImage"/>
        <div class="introduceSubtitle text-center">
          소개 
        </div>
      </div>
      <div class="introduceDesc text-center">
        네이버에서 설립한 비영리 교육재단인 '커넥트재단' 은 수학의 대중화와 교육자들의 수학적 지식 확대를 위해 </br> 공개강연 <span> 통찰의 연결 </span>을 선보입니다. <br> 매 시즌 하나의 수학주제를 선정하여 '주제 강연' 과 '분야 강연' 을 통해 세상 속의 수학을 이야기 합니다.
      </div>
      <div class="introduceContent">
        <div class="introduceContentHeader">
          통찰의 연결 시즌 1 ~ 2017년 1월 ~ 5월 진행
        </div>
          <div class="introduceContentWrapper">
            <div class="introduceContentTitle">
              주제강연
              <span>
                수학 주제에 대한 기본 강연
              </span>
            </div>
            <div class="introduceContentDesc">
              <div class="introduceContentSubTitle" >
                1월 -
              </div>
              <div class="introduceContentSubTitleDesc">
                1회차 강연:확률론의 선과 악
              </div>
              <br>
              <div class="introduceContentSubTitle" >
                1월 -
              </div>
              <div class="introduceContentSubTitleDesc">
                교사 워크샵:주제강연에 참석한 수학교사/전공자 <br> 중심으로 교육 현장에서의 적용을 함께 탐구
              </div>
            </div>
          </div>
          <div class="introduceContentWrapper introduceContentWrapperSecond">  
            <div class="introduceContentTitle">
              분야강연
              <span>
                각 분야에서 쓰이는 수학에 대한 강연
              </span>
            </div>
            <div class="introduceContentDesc">
               <div class="introduceContentSubTitle" >
                2월 - 2회차 강연:
              </div>
              <div class="introduceContentSubTitleDesc">
                물리학 속의 확률
              </div>
              <br>
              <div class="introduceContentSubTitle" >
                3월 - 3회차 강연:
              </div>
              <div class="introduceContentSubTitleDesc">
                금융 속의 확률
              </div>
              <br>
              <div class="introduceContentSubTitle" >
                4월 - 4회차 강연:
              </div>
              <div class="introduceContentSubTitleDesc">
                인공지능 속의 확률
              </div>
              <br>
              <div class="introduceContentSubTitle volunteerText" >
                5월 - 5회차 강연:
              </div>
              <div class="introduceContentSubTitleDesc">
                <span class="volunteerText">사회현상 속의 확률</span> <span class="volunteer">모집</span>
              </div>
            </div>
          </div>
      </div>
    </section>

    <div class="introduceWrapper">
        <div class="introduceTeacher">
          <div class="row">
            <div class="col-md-6 row">
              <div class="row">
                <img src="../images/assets/pro_1.png" class="introProfessorImg" >
              </div>
              <div class="introduceTeacherWrapper">
                <div class="introduceTeacherPoint">
                  자문위원
                </div>
                <div class="row">
                  <div class="introduceTeacherName">
                    박형주
                  </div>
                  <div class="introduceTeacherHistory">
                    국가수리과학연구소 소장<br>
                    아주대학교 석좌교수<br>
                    2015~2018 국제수학연맹(IMU) 집행위원<br>
                    UC Berkeley 수학박사<br>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 row introduceTeacherSecond">
              <div class="row">
                <img src="../images/assets/pro_2.png" class="introProfessorImg introSecondTeacher" >
              </div>
              <div class="introduceTeacherWrapper">
                <div class="introduceTeacherPoint">
                  자문위원
                </div>
                <div class="row">
                  <div class="introduceTeacherName">
                    김민형
                  </div>
                  <div class="introduceTeacherHistory">
                    옥스퍼드대학교 수학과 교수<br>
                    서울고등과학원 초빙석좌교수<br>
                    2012 호암상 과학부분 수상<br>
                    Yale University 수학박사<br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="introduceLink">
          <div class="row">
            <div class="col-md-4 introduceLinkButton" ng-click="go('http://m.post.naver.com/my/series/detail.nhn?seriesNo=243492&memberNo=23260204')">
              네이버 포스트 >
            </div>
            <div class="col-md-4 introduceLinkButton" ng-click="go('http://tv.naver.com/connect')">
              네이버 TV >
            </div>
            <div class="col-md-4 introduceLinkButton" ng-click="go('http://connect.or.kr/home')">
              커넥트재단 홈페이지 >
            </div>
          </div>
        </div>
      </div>


    <div class="secondBodyWrapper">
      <section id="education" class="section-page">
          <div class="customBanner activity activityTitle">
            <img src="../images/assets/sub_2.png" class="subTitleImage"/>
            <div class="introduceSubtitle">
              신청
            </div>   
            <div class="divideLine">
              <span class="introduceDescLeft">
                통찰의 연결
              </span>
              <span class="introduceDescRight">
                season 1
              </span>
            </div>
          </div>
          <div class="activityContainer">
            <div class="probabilityTitle">
              사회현상 속의 확률
            </div>
            <div class="probabilityTitleDesc">
              왜 어떤 것들은 예측이 가능하고 어떤 것들은 예측이 어려울까? <br>
              그리고 왜 아직도 통계가 틀리는 경우가 많을까? 사회 속에서 나타나는 <br>
              여러 가지 현상들을 어떻게 수학적으로 이해할 수 있는지, <br>
              더 나아가 불확실한 미래를 어떻게 예측할 수 있는지에 대해서 알아보려 한다. <br>
              그리고 이 뒤에 숨어있는 확률적인 "비밀"들이 <br>
              어떻게 통계적 결과에 영향을 주는지를 탐구하려 한다. 
            </div>
            <div class="row">
              <div class="col-md-6 professorImg">
                <img src="../images/assets/rec_2.png"/>
              </div>
              <div class="col-md-6 professorInfoDesc">
                <div class="hostTitle">
                  박형주 <span>진행자</span>
                </div>
                <div class="hostHistory">
                  국가수리과학연구소 소장<br>
                  아주대학교 석좌교수<br>
                  2015-2018 국제수학연맹(IMU) 집행위원<br>
                  UX Berkeley 수학박사<br>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 professorImg">
                <img src="../images/assets/rec_3.png"/>
              </div>
              <div class="col-md-6 professorInfoDesc">
                <div class="hostTitle">
                  윤혜진 <span>강연자</span>
                </div>
                <div class="hostHistory">
                  하버드 케네디스쿨 펠로우 <br>
                  산타페 연구소 소속 연구원<br>
                  영국 옥스퍼드 수학과 시니어 펠로우<br>
                  2007~2011 IBM Watson 연구소 근무<br>
                  카이스트 물리학 박사
                </div>
              </div>
            </div>
          </div>
          <div class="introduceLink historyLink">
            <div class="row">
              <div class="col-md-6 introduceLinkButton professorBtn introduceLinkButtonFirst" ng-click="go('http://naver.me/Fjk7VbBw')">
                신청하기 >
              </div>
              <div class="col-md-6 introduceLinkButton professorBtn introduceLinkButtonSecond" ng-click="go('http://m.post.naver.com/viewer/postView.nhn?volumeNo=7556993&memberNo=23260204')">
                내용 미리보기 >
              </div>
            </div>
          </div>
      </section>
      
      <section id="faq" class="section-page">
        <img src="../images/assets/sub_3.png" class="faqSubImage"/>
        <div class="customBanner faq">
          <div class="showLastLecture">
            지난 강연보기
          </div>
        </div>
        <div class="container">
          <div class="faqWrapper">
            <hr>
            <div class="faqContents" ng-repeat="(title , content) in getContent()">
              <div class="faqContentTitle">
                {{ title }}
              </div>
              <div class="faqAnswerData">
                <span class='naverTvLink' ng-click="go(content[0])">
                  네이버 TV >>
                </span>
                <span class='naverPostLink' ng-click="go(content[1])"s> 
                  네이버 포스트 >>
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="etc" class="section-page">
        <img src="../images/assets/sub_4.png" class="faqSubImage"/>
        <div class="customBanner">
          <div class="etcSubTitle">
            기타
          </div>
          <div class="etcSubSubTitle">
            <span>문의</span>
            <div class="etcSubSubContents etcSubSubContents_1">
              connect.info@connect.or.kr
            </div>
            <span class="etcSpace">장소</span>
            <div class="etcSubSubContents etcSubSubContents_2">
              경기도 성남시 분당구 불정로 6 그린팩토리
            </div>
          </div>
          <div id="map" ng-click="go('http://naver.me/xkfItMgS')">
          </div>
          <script type="text/javascript">
            
          </script>
        </div>
      </section>

      <section id="contact-footer">
        <div class="container footerContainer">
            <div class="col-xs-12 footerWrapper">
                <ul class="col-xs-6 footerlogos">
                    <img src="images/assets/footer_logo.png" class="footerLogo footerLogo_2">
                    <img src="images/connectlogo.png" class="footerLogo footerLogo_1">
                </ul>               
                <div class="footerWrapperWrapper">
                  <ul class="col-xs-6 dropup">
                      <button class="btn btn-default dropdown-toggle relatedSizeMenu" type="button" data-toggle="dropdown">관련 사이트
                      <img src="images/ic-plus.png" class="relatedSizeIcon">
                        </button>
                      <ul class="dropdown-menu">
                        <li><a href="http://connect.or.kr/home" target="_blank">재단 홈페이지</a></li>
                        <li class=""><a href="https://www.facebook.com/foundation.connect/" target="_blank">통찰의 연결 페이스북</a></li>
                        <li><a href="http://tv.naver.com/connect" target="_blank">네이버 TV</a></li>
                        <li class=""><a href="http://m.post.naver.com/my/series/detail.nhn?seriesNo=243492&memberNo=23260204" target="_blank" >네이버 포스트</a></li>
                      </ul>
                  </ul>
              </div>
            </div>
          </div>
      </section>
    </div>
  </div>